In [1]:
import numpy as np
import pandas as pd

In [2]:
# to display full text
pd.set_option('display.max_colwidth', -1)

<ipython-input-2-3b5970faf0be>:2: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)

In [3]:
exact_data = pd.read_csv(r'D:\論文\PHEME9\Data\CSV\ebola-essien.csv', encoding = 'utf-8', header = None)

In [4]:
exact_data.head()

,0,1,2,3,4,5,6,7,8
0,521310417696858112,964926744,"Breaking news: Ghana international and AC Milan star Michael Essien has contracted Ebola, his club has confirmed.",Sun Oct 12 14:44:23 +0000 2014,521311862118711296,630241693,"“@YuryAlkaev: Breaking news: Ghana international and AC Milan star Michael Essien has contracted Ebola, his club has confirmed.”",Sun Oct 12 14:50:08 +0000 2014,1
1,521310417696858112,964926744,"Breaking news: Ghana international and AC Milan star Michael Essien has contracted Ebola, his club has confirmed.",Sun Oct 12 14:44:23 +0000 2014,521313155004497920,131531989,"conspiracy RT@YuryAlkaev Breaking news: Ghana international and AC Milan star Michael Essien has contracted Ebola, his club has confirmed.",Sun Oct 12 14:55:16 +0000 2014,1
2,521310417696858112,964926744,"Breaking news: Ghana international and AC Milan star Michael Essien has contracted Ebola, his club has confirmed.",Sun Oct 12 14:44:23 +0000 2014,521313840416714752,40673379,"“@YuryAlkaev: Breaking news: Ghana international and AC Milan star Michael Essien has contracted Ebola, his club has confirmed.” Wtf",Sun Oct 12 14:57:59 +0000 2014,1
3,521310417696858112,964926744,"Breaking news: Ghana international and AC Milan star Michael Essien has contracted Ebola, his club has confirmed.",Sun Oct 12 14:44:23 +0000 2014,521313949351178240,1628128982,"“@YuryAlkaev: Breaking news: Ghana international and AC Milan star Michael Essien has contracted Ebola, his club has confirmed"" Must be lies",Sun Oct 12 14:58:25 +0000 2014,1
4,521310417696858112,964926744,"Breaking news: Ghana international and AC Milan star Michael Essien has contracted Ebola, his club has confirmed.",Sun Oct 12 14:44:23 +0000 2014,521314256911077376,349230142,"“@YuryAlkaev: Breaking news: Ghana international and AC Milan star Michael Essien has contracted Ebola, his club has confirmed.” WHAAAAT",Sun Oct 12 14:59:39 +0000 2014,1

In [5]:
df = exact_data.drop(4, axis = 1)

In [6]:
df.columns = ['tweet_id', 'src_user_id', 'src_tweet','src_date','reply_user_id','reply_tweet','reply_date', 'label']

In [8]:
df.head()

,tweet_id,src_user_id,src_tweet,src_date,reply_user_id,reply_tweet,reply_date,label
0,521310417696858112,964926744,"Breaking news: Ghana international and AC Milan star Michael Essien has contracted Ebola, his club has confirmed.",Sun Oct 12 14:44:23 +0000 2014,630241693,"“@YuryAlkaev: Breaking news: Ghana international and AC Milan star Michael Essien has contracted Ebola, his club has confirmed.”",Sun Oct 12 14:50:08 +0000 2014,1
1,521310417696858112,964926744,"Breaking news: Ghana international and AC Milan star Michael Essien has contracted Ebola, his club has confirmed.",Sun Oct 12 14:44:23 +0000 2014,131531989,"conspiracy RT@YuryAlkaev Breaking news: Ghana international and AC Milan star Michael Essien has contracted Ebola, his club has confirmed.",Sun Oct 12 14:55:16 +0000 2014,1
2,521310417696858112,964926744,"Breaking news: Ghana international and AC Milan star Michael Essien has contracted Ebola, his club has confirmed.",Sun Oct 12 14:44:23 +0000 2014,40673379,"“@YuryAlkaev: Breaking news: Ghana international and AC Milan star Michael Essien has contracted Ebola, his club has confirmed.” Wtf",Sun Oct 12 14:57:59 +0000 2014,1
3,521310417696858112,964926744,"Breaking news: Ghana international and AC Milan star Michael Essien has contracted Ebola, his club has confirmed.",Sun Oct 12 14:44:23 +0000 2014,1628128982,"“@YuryAlkaev: Breaking news: Ghana international and AC Milan star Michael Essien has contracted Ebola, his club has confirmed"" Must be lies",Sun Oct 12 14:58:25 +0000 2014,1
4,521310417696858112,964926744,"Breaking news: Ghana international and AC Milan star Michael Essien has contracted Ebola, his club has confirmed.",Sun Oct 12 14:44:23 +0000 2014,349230142,"“@YuryAlkaev: Breaking news: Ghana international and AC Milan star Michael Essien has contracted Ebola, his club has confirmed.” WHAAAAT",Sun Oct 12 14:59:39 +0000 2014,1

In [16]:
remove_column.shape

(4020, 11)

In [170]:
remove_column.isnull().sum()

src_text                 0
src_user_id              0
src_favorites_count      0
src_verified_user        0
src_followers_count      0
reply_text               0
reply_followers_count    0
reply_favorites_count    0
reply_user_id            0
reply_verified_user      0
label                    0
dtype: int64

In [172]:
graph_eligible_data = pd.DataFrame(index = np.zeros((len(remove_column))), columns = ['weight', 'src_user_id', 'src_text', 'src_favorites_count', 'src_followers_count', 'src_verified_user', 'reply_user_id', 'reply_user_text', 'reply_favorites_count', 'reply_followers_count', 'reply_verified_user', 'label'])

In [173]:
graph_eligible_data.head()

,weight,src_user_id,src_text,src_favorites_count,src_followers_count,src_verified_user,reply_user_id,reply_user_text,reply_favorites_count,reply_followers_count,reply_verified_user,label
0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [174]:
len(graph_eligible_data)
#graph_eligible_data.shape = (len(remove_column),len(remove_column.columns)+1), add"weight"

4020

In [8]:
remove_column['src_user_id'].nunique()

207

In [9]:
remove_column['reply_user_id'].nunique()

2745

In [175]:
def addingWeight():
    for i in range(0, len(graph_eligible_data)): 
        #print(i)
        if (i>0):
            if ((remove_column.iloc[i-1]['src_user_id'] == remove_column.iloc[i]['src_user_id']) and (remove_column.iloc[i-1]['reply_user_id'] == remove_column.iloc[i]['reply_user_id'])):
                continue
        weight = 1
        a = remove_column.iloc[i]['src_user_id']
        b = remove_column.iloc[i]['reply_user_id']
        
        merged_replies = remove_column.iloc[i]['reply_text']
        for j in range(i+1, len(graph_eligible_data)):
            if ((a == remove_column.iloc[j]['src_user_id']) and (b == remove_column.iloc[j]['reply_user_id'])):
                weight = weight + 1
                merged_replies = str(merged_replies) + " " + str(remove_column.iloc[j]['reply_text'])
            elif (remove_column.iloc[j]['src_user_id'] != remove_column.iloc[j-1]['src_user_id']):
                break
                
        graph_eligible_data.iloc[i]['weight'] = weight
        graph_eligible_data.iloc[i]['src_user_id'] = remove_column.iloc[i]['src_user_id']
        graph_eligible_data.iloc[i]['reply_user_id'] = remove_column.iloc[i]['reply_user_id']
        graph_eligible_data.iloc[i]['src_text'] = remove_column.iloc[i]['src_text']
        graph_eligible_data.iloc[i]['reply_user_text'] = merged_replies
        graph_eligible_data.iloc[i]['src_favorites_count'] = remove_column.iloc[i]['src_favorites_count']
        graph_eligible_data.iloc[i]['src_followers_count'] = remove_column.iloc[i]['src_followers_count']
        graph_eligible_data.iloc[i]['src_verified_user'] = remove_column.iloc[i]['src_verified_user']
        graph_eligible_data.iloc[i]['reply_favorites_count'] = remove_column.iloc[i]['reply_favorites_count']
        graph_eligible_data.iloc[i]['reply_followers_count'] = remove_column.iloc[i]['reply_followers_count']
        graph_eligible_data.iloc[i]['reply_verified_user'] = remove_column.iloc[i]['reply_verified_user']
        graph_eligible_data.iloc[i]['label'] = remove_column.iloc[i]['label']

In [176]:
addingWeight()

In [ ]:
graph_eligible_data

In [190]:
graph_eligible_data_v2 = graph_eligible_data.copy()

In [191]:
graph_eligible_data_v2.isnull().sum()

weight                   299
src_user_id              299
src_text                 299
src_favorites_count      299
src_followers_count      299
src_verified_user        299
reply_user_id            299
reply_user_text          299
reply_favorites_count    299
reply_followers_count    299
reply_verified_user      299
label                    299
dtype: int64

In [192]:
graph_eligible_data_v2 = graph_eligible_data_v2.dropna(axis = 0)

In [193]:
graph_eligible_data_v2.shape

(3721, 12)

In [ ]:
graph_eligible_data_v2

In [194]:
graph_eligible_data_v2.reset_index(drop = True, inplace = True)

In [ ]:
graph_eligible_data_v2

In [187]:
def removingDuplicates():
    for i in range (0, len(graph_eligible_data_v2)):
        c = graph_eligible_data_v2.iloc[i]['src_user_id']
        d = graph_eligible_data_v2.iloc[i]['reply_user_id']
        
        #graph_eligible_data_v2.reset_index(drop = True, inplace = True)
        for j in range(i+1, len(graph_eligible_data_v2)):
            if ((i>0) and (graph_eligible_data_v2.iloc[j]['src_user_id'] != c)):
                break
            if ((c == graph_eligible_data_v2.iloc[j]['src_user_id']) and (d == graph_eligible_data_v2.iloc[j]['reply_user_id'])):
                #print(j)
                print("adding nan " , graph_eligible_data_v2.iloc[j]['src_user_id'] , graph_eligible_data_v2.iloc[j]['reply_user_id'], graph_eligible_data_v2.iloc[j]['weight'])
                graph_eligible_data_v2.iloc[j]['reply_user_id'] = np.nan
                #graph_eligible_data_v2.reset_index(drop = True, inplace = True)
                #graph_eligible_data_v2.dropna(inplace = True)

In [195]:
removingDuplicates()

adding nan  92771309 19910285 5
adding nan  92771309 19910285 4
adding nan  92771309 19910285 2
adding nan  92771309 19910285 1
adding nan  92771309 22272218 2
adding nan  92771309 22272218 1
adding nan  92771309 18329957 1
adding nan  134196350 405683625 1
adding nan  134196350 15016162 1
adding nan  134196350 193770843 2
adding nan  134196350 193770843 1
adding nan  428333 3028982049 5
adding nan  428333 3028982049 4
adding nan  428333 3028982049 3
adding nan  428333 3028982049 2
adding nan  428333 298831926 1
adding nan  428333 61431442 3
adding nan  428333 61431442 2
adding nan  428333 61431442 1
adding nan  2097571 313522982 1
adding nan  134196350 951272851 7
adding nan  134196350 951272851 5
adding nan  134196350 951272851 4
adding nan  134196350 951272851 3
adding nan  134196350 951272851 2
adding nan  134196350 951272851 1
adding nan  134196350 576106730 5
adding nan  134196350 576106730 4
adding nan  134196350 576106730 3
adding nan  134196350 576106730 2
adding nan  134196350 152171256 6
adding nan  134196350 152171256 5
adding nan  134196350 152171256 3
adding nan  134196350 139631790 1
adding nan  183294043 86897822 2
adding nan  183294043 86897822 1
adding nan  183294043 183294043 8
adding nan  183294043 183294043 6
adding nan  183294043 183294043 4
adding nan  183294043 183294043 2
adding nan  183294043 183294043 1
adding nan  183294043 33556978 2
adding nan  183294043 33556978 1
adding nan  183294043 233775492 2
adding nan  183294043 233775492 1
adding nan  183294043 15993172 1
adding nan  5402612 19103793 1
adding nan  5402612 2697713994 2
adding nan  2280470022 94034882 1
adding nan  2280470022 185628429 1
adding nan  330826792 330826792 5
adding nan  330826792 330826792 4
adding nan  330826792 330826792 3
adding nan  330826792 330826792 2
adding nan  330826792 242109314 1
adding nan  16973333 1145792010 1
adding nan  15513604 2160057899 1
adding nan  5943072 307938124 1
adding nan  51008528 2987027311 1
adding nan  742143 36616344 1
adding nan  64643056 1694169914 1
adding nan  134196350 2303621388 4
adding nan  134196350 2303621388 3
adding nan  134196350 2303621388 2
adding nan  134196350 2303621388 1
adding nan  134196350 219470552 2
adding nan  134196350 219470552 1
adding nan  134196350 2472403826 1
adding nan  7587032 2668764799 1
adding nan  3006168515 3006168515 10
adding nan  3006168515 3006168515 9
adding nan  3006168515 3006168515 7
adding nan  3006168515 3006168515 6
adding nan  3006168515 3006168515 4
adding nan  3006168515 3006168515 3
adding nan  3006168515 3006168515 2
adding nan  3006168515 499251407 1
adding nan  3006168515 2472403826 1
adding nan  3006168515 244241768 1
adding nan  134196350 244134922 1
adding nan  21133007 22620339 1
adding nan  21133007 964552140 3
adding nan  21133007 964552140 2
adding nan  21133007 964552140 1
adding nan  21133007 417723154 3
adding nan  21133007 417723154 2
adding nan  21133007 417723154 1
adding nan  5402612 78837703 2
adding nan  5402612 78837703 1
adding nan  5402612 2590559634 1
adding nan  5402612 1108518408 1
adding nan  16444025 46365811 1
adding nan  16444025 16444025 2
adding nan  16444025 16444025 1
adding nan  16444025 303336103 1
adding nan  961974776 2540001930 14
adding nan  961974776 2540001930 9
adding nan  961974776 3044930706 1
adding nan  4970411 4970411 1
adding nan  424120588 29406793 1
adding nan  424120588 424120588 1
adding nan  424120588 396890769 2
adding nan  64643056 257186141 1
adding nan  87818409 2882214527 1
adding nan  759251 214224689 1
adding nan  14892330 20664583 1
adding nan  2280470022 287167329 1
adding nan  5402612 17836555 11
adding nan  5402612 17836555 9
adding nan  5402612 17836555 8
adding nan  5402612 17836555 7
adding nan  5402612 17836555 5
adding nan  5402612 17836555 3
adding nan  5402612 17836555 2
adding nan  5402612 17836555 1
adding nan  5402612 953958546 6
adding nan  5402612 953958546 5
adding nan  5402612 953958546 4
adding nan  5402612 953958546 2
adding nan  5402612 953958546 1
adding nan  5402612 20703831 2
adding nan  5402612 20703831 1
adding nan  14173315 562920723 2
adding nan  14173315 562920723 1
adding nan  14173315 947860201 1
adding nan  759251 295547934 1
adding nan  759251 953958546 1
adding nan  759251 2370908751 1
adding nan  759251 349708100 1
adding nan  5402612 414312619 1
adding nan  5402612 121509920 1
adding nan  5402612 459054329 1
adding nan  2280470022 461631339 1
adding nan  1652541 1117535029 1
adding nan  1652541 1080276308 7
adding nan  1652541 1080276308 6
adding nan  1652541 1080276308 5
adding nan  1652541 1080276308 4
adding nan  1652541 1080276308 2
adding nan  1652541 1080276308 1
adding nan  1652541 36624294 7
adding nan  1652541 36624294 6
adding nan  1652541 36624294 5
adding nan  1652541 36624294 4
adding nan  1652541 36624294 3
adding nan  1652541 36624294 2
adding nan  134196350 19704528 3
adding nan  134196350 19704528 2
adding nan  134196350 19704528 1
adding nan  134196350 6575472 4
adding nan  134196350 6575472 3
adding nan  134196350 6575472 1
adding nan  5402612 50958800 2
adding nan  5402612 50958800 1
adding nan  5402612 392993359 1
adding nan  134196350 450614775 1
adding nan  134196350 600943942 1
adding nan  134196350 20637969 1
adding nan  1367531 1350989725 1
adding nan  1367531 762027770 4
adding nan  1367531 762027770 2
adding nan  1367531 762027770 1
adding nan  1367531 2954480851 6
adding nan  1367531 2954480851 4
adding nan  1367531 2954480851 3
adding nan  134196350 2159724111 1
adding nan  14293310 2874821464 1
adding nan  18839785 417205244 1
adding nan  18839785 1719698352 2
adding nan  18839785 1719698352 1
adding nan  18839785 2917779663 1
adding nan  18839785 2560288593 1
adding nan  18839785 212588933 1
adding nan  5402612 815589109 1
adding nan  5402612 17436585 5
adding nan  5402612 17436585 4
adding nan  5402612 17436585 3
adding nan  5402612 17436585 2
adding nan  5402612 17436585 1
adding nan  5402612 23746494 2
adding nan  5402612 23746494 1
adding nan  5402612 20500113 1
adding nan  742143 58341062 2
adding nan  380648579 42441516 3
adding nan  380648579 42441516 2
adding nan  380648579 42441516 1
adding nan  380648579 17692894 3
adding nan  380648579 17692894 2
adding nan  380648579 17692894 1
adding nan  5943072 116910049 1
adding nan  5943072 126709750 1
adding nan  5943072 27071781 1
adding nan  5943072 53030838 1
adding nan  2280470022 398225102 1
adding nan  2280470022 567486774 1
adding nan  227837742 2878850941 1
adding nan  227837742 15405016 1
adding nan  227837742 32414658 1
adding nan  182251918 100418160 1
adding nan  182251918 182251918 2
adding nan  182251918 182251918 1
adding nan  182251918 16504112 2
adding nan  182251918 16504112 1
adding nan  182251918 53229950 1
adding nan  182251918 39279839 3
adding nan  182251918 39279839 2
adding nan  182251918 39279839 1
adding nan  182251918 54742770 1
adding nan  807095 3067211786 5
adding nan  807095 3067211786 4
adding nan  807095 3067211786 3
adding nan  807095 3067211786 2
adding nan  807095 3067211786 1
adding nan  807095 1031773916 4
adding nan  807095 1031773916 3
adding nan  807095 1031773916 2
adding nan  807095 1031773916 1
adding nan  759251 330577722 1
adding nan  759251 402744581 2
adding nan  759251 402744581 1
adding nan  759251 2955269027 1
adding nan  223369343 86656480 1
adding nan  223369343 223369343 9
adding nan  223369343 223369343 8
adding nan  223369343 223369343 7
adding nan  223369343 223369343 6
adding nan  223369343 223369343 5
adding nan  223369343 223369343 4
adding nan  223369343 223369343 3
adding nan  223369343 223369343 2
adding nan  223369343 223369343 1
adding nan  223369343 99071767 2
adding nan  223369343 99071767 1
adding nan  223369343 365526692 3
adding nan  223369343 365526692 2
adding nan  223369343 365526692 1
adding nan  223369343 862564200 2
adding nan  223369343 862564200 1
adding nan  236488883 2404454630 2
adding nan  236488883 2404454630 1
adding nan  236488883 2267805854 3
adding nan  236488883 2267805854 2
adding nan  236488883 2267805854 1
adding nan  236488883 573198799 2
adding nan  236488883 573198799 1
adding nan  403647191 1670939658 2
adding nan  403647191 1670939658 1
adding nan  15164565 20494522 1
adding nan  3108351 101897618 1
adding nan  30447805 705370792 1
adding nan  30447805 260115846 1
adding nan  5402612 2956629112 2
adding nan  5402612 2956629112 1
adding nan  5402612 59162656 2
adding nan  5402612 59162656 1
adding nan  5402612 379426282 2
adding nan  5402612 379426282 1
adding nan  5402612 47422543 1
adding nan  5402612 2551443991 1
adding nan  5402612 44299861 1
adding nan  2280470022 301211063 2
adding nan  2280470022 301211063 1
adding nan  2280470022 2384676337 1
adding nan  22240612 2566535282 1
adding nan  134196350 380292534 3
adding nan  134196350 380292534 2
adding nan  134196350 380292534 1
adding nan  134196350 12929322 2
adding nan  134196350 12929322 1
adding nan  134196350 39086886 3
adding nan  134196350 39086886 2
adding nan  134196350 39086886 1
adding nan  134196350 2540899814 3
adding nan  134196350 2540899814 2
adding nan  134196350 2540899814 1
adding nan  134196350 395240033 6
adding nan  134196350 395240033 5
adding nan  134196350 395240033 4
adding nan  134196350 395240033 3
adding nan  134196350 395240033 2
adding nan  134196350 41433466 8
adding nan  134196350 41433466 7
adding nan  134196350 41433466 6
adding nan  134196350 41433466 4
adding nan  134196350 41433466 3
adding nan  134196350 41433466 2
adding nan  134196350 2705950254 1
adding nan  134196350 395240033 1
adding nan  134196350 62330401 3
adding nan  134196350 62330401 2
adding nan  134196350 62330401 1
adding nan  134196350 610829574 1
adding nan  44728980 179342983 1
adding nan  44728980 524290145 1
adding nan  134196350 48032974 1
adding nan  134196350 7743542 2
adding nan  134196350 7743542 1
adding nan  134196350 20749160 1
adding nan  134196350 244134922 5
adding nan  134196350 244134922 4
adding nan  134196350 244134922 3
adding nan  134196350 244134922 1
adding nan  134196350 2797706837 1
adding nan  134196350 599473774 11
adding nan  134196350 599473774 10
adding nan  134196350 599473774 9
adding nan  134196350 599473774 8
adding nan  134196350 599473774 6
adding nan  134196350 599473774 5
adding nan  134196350 599473774 4
adding nan  134196350 599473774 3
adding nan  134196350 599473774 2
adding nan  134196350 599473774 1
adding nan  134196350 132512167 1
adding nan  134196350 20060474 5
adding nan  134196350 20060474 4
adding nan  134196350 20060474 3
adding nan  134196350 20060474 2
adding nan  134196350 20060474 1
adding nan  134196350 492535102 1
adding nan  134196350 953958546 3
adding nan  134196350 953958546 2
adding nan  134196350 3079475403 7
adding nan  134196350 3079475403 5
adding nan  134196350 3079475403 4
adding nan  134196350 3079475403 2
adding nan  134196350 296303544 2
adding nan  134196350 15148343 3
adding nan  134196350 15148343 2
adding nan  134196350 15148343 1
adding nan  134196350 223985013 1
adding nan  2280470022 2893235717 2
adding nan  2280470022 2893235717 1
adding nan  14173315 14173315 2
adding nan  14173315 14173315 1
adding nan  14173315 593440072 1
adding nan  14173315 2365622293 1
adding nan  14173315 1490960996 2
adding nan  100936791 86602719 13
adding nan  100936791 86602719 12
adding nan  100936791 86602719 11
adding nan  100936791 86602719 9
adding nan  100936791 86602719 7
adding nan  100936791 86602719 6
adding nan  100936791 86602719 5
adding nan  100936791 86602719 4
adding nan  100936791 86602719 3
adding nan  100936791 86602719 2
adding nan  100936791 86602719 1
adding nan  100936791 192218238 11
adding nan  100936791 192218238 10
adding nan  100936791 192218238 8
adding nan  100936791 192218238 7
adding nan  100936791 192218238 5
adding nan  100936791 192218238 4
adding nan  100936791 192218238 3
adding nan  100936791 192218238 2
adding nan  100936791 583752274 2
adding nan  100936791 583752274 1
adding nan  93735135 93735135 1
adding nan  100936791 115539959 5
adding nan  100936791 115539959 4
adding nan  100936791 115539959 3
adding nan  100936791 115539959 2
adding nan  100936791 115539959 1
adding nan  100936791 194078732 1
adding nan  100936791 24107800 3
adding nan  100936791 24107800 2
adding nan  100936791 24107800 1
adding nan  100936791 105423930 2
adding nan  100936791 105423930 1
adding nan  100936791 19659468 1
adding nan  100936791 58180860 2
adding nan  100936791 58180860 1
adding nan  100936791 2357425099 1
adding nan  26574283 26574283 1
adding nan  16887175 2888018411 1
adding nan  134196350 139631790 25
adding nan  134196350 139631790 24
adding nan  134196350 139631790 23
adding nan  134196350 139631790 21
adding nan  134196350 139631790 19
adding nan  134196350 139631790 17
adding nan  134196350 139631790 16
adding nan  134196350 139631790 14
adding nan  134196350 139631790 12
adding nan  134196350 139631790 10
adding nan  134196350 139631790 6
adding nan  134196350 139631790 2
adding nan  134196350 139631790 1
adding nan  134196350 476243412 13
adding nan  134196350 476243412 12
adding nan  134196350 476243412 11
adding nan  134196350 476243412 10
adding nan  134196350 476243412 9
adding nan  134196350 476243412 8
adding nan  134196350 476243412 7
adding nan  134196350 476243412 6
adding nan  134196350 476243412 5
adding nan  134196350 476243412 4
adding nan  134196350 476243412 3
adding nan  134196350 476243412 2
adding nan  134196350 476243412 1
adding nan  134196350 345246348 4
adding nan  134196350 345246348 3
adding nan  134196350 345246348 1
adding nan  134196350 576499459 2
adding nan  134196350 576499459 1
adding nan  134196350 273718425 1
adding nan  134196350 108577840 3
adding nan  134196350 108577840 2
adding nan  134196350 108577840 1
adding nan  134196350 143527839 1
adding nan  134196350 248816974 5
adding nan  134196350 248816974 3
adding nan  134196350 248816974 2
adding nan  134196350 2900807218 2
adding nan  134196350 2900807218 1
adding nan  134196350 345246348 4
adding nan  134196350 345246348 3
adding nan  134196350 345246348 2
adding nan  134196350 345246348 1
adding nan  58913244 128819708 1
adding nan  58913244 58913244 4
adding nan  58913244 58913244 3
adding nan  58913244 58913244 2
adding nan  58913244 58913244 1
adding nan  58913244 117746126 1
adding nan  58913244 425297281 3
adding nan  58913244 425297281 2
adding nan  58913244 425297281 1
adding nan  428333 580250594 4
adding nan  5943072 61549961 1
adding nan  5943072 2191171804 2
adding nan  5943072 2191171804 1
adding nan  5943072 2254035441 1
adding nan  5402612 2590559634 1
adding nan  51381252 464141682 2
adding nan  51381252 464141682 1
adding nan  51381252 1283672610 1
adding nan  51381252 51381252 5
adding nan  51381252 51381252 4
adding nan  51381252 51381252 3
adding nan  51381252 51381252 1
adding nan  51381252 1922004823 2
adding nan  51381252 1922004823 1
adding nan  51381252 108940444 1
adding nan  51381252 18867170 1
adding nan  15438913 221728295 5
adding nan  15438913 221728295 3
adding nan  15438913 44864397 1
adding nan  15438913 262654469 2
adding nan  15438913 262654469 1
adding nan  6017542 867163658 1
adding nan  6017542 9924642 1
adding nan  5402612 5402612 1
adding nan  5402612 37078327 1
adding nan  2280470022 49307468 1
adding nan  124476322 37649397 1
adding nan  124476322 327462619 1
adding nan  124476322 373440375 1
adding nan  2280470022 388751649 12
adding nan  2280470022 388751649 11
adding nan  2280470022 388751649 9
adding nan  2280470022 388751649 8
adding nan  2280470022 388751649 7
adding nan  2280470022 388751649 5
adding nan  2280470022 388751649 3
adding nan  2280470022 388751649 2
adding nan  2280470022 388751649 1
adding nan  2280470022 185133565 10
adding nan  2280470022 185133565 8
adding nan  2280470022 185133565 7
adding nan  2280470022 185133565 6
adding nan  2280470022 185133565 3
adding nan  2280470022 185133565 2
adding nan  2280470022 185133565 1
adding nan  2280470022 13468682 2
adding nan  7587032 719862841 1
adding nan  1367531 2189248559 1
adding nan  2280470022 582562920 1
adding nan  87416722 156668129 2
adding nan  2280470022 15145734 1
adding nan  428333 65626531 1
adding nan  5402612 2741550169 1
adding nan  51241574 50059964 3
adding nan  51241574 50059964 1
adding nan  227837742 272074464 1
adding nan  227837742 908152572 1
adding nan  21866939 14869692 2
adding nan  21866939 14869692 1
adding nan  21866939 2474237058 1
adding nan  22799750 266653330 1
adding nan  22799750 1278832316 1
adding nan  2566535282 2858679020 1
adding nan  2566535282 17679507 1
adding nan  2566535282 20150758 1
adding nan  2097571 73836614 6
adding nan  2097571 73836614 5
adding nan  2097571 73836614 4
adding nan  2097571 73836614 3
adding nan  2097571 73836614 2
adding nan  2097571 73836614 1
adding nan  2097571 179607304 6
adding nan  2097571 179607304 5
adding nan  2097571 179607304 4
adding nan  2097571 179607304 3
adding nan  2097571 179607304 2
adding nan  2097571 179607304 1
adding nan  2280470022 1856237718 1
adding nan  2280470022 247189135 2
adding nan  2280470022 177507357 2
adding nan  2280470022 556503810 3
adding nan  2280470022 556503810 2
adding nan  255187660 108621770 1
adding nan  255187660 775646406 1
adding nan  255187660 2994520977 1
adding nan  16887175 615069597 3
adding nan  16887175 615069597 2
adding nan  16887175 615069597 1
adding nan  16887175 921217862 11
adding nan  16887175 921217862 10
adding nan  16887175 921217862 9
adding nan  16887175 921217862 7
adding nan  16887175 921217862 5
adding nan  16887175 921217862 4
adding nan  16887175 921217862 3
adding nan  16887175 921217862 2
adding nan  16887175 921217862 1
adding nan  16887175 83053151 14
adding nan  16887175 83053151 13
adding nan  16887175 83053151 12
adding nan  16887175 83053151 7
adding nan  16887175 83053151 6
adding nan  16887175 83053151 5
adding nan  16887175 83053151 4
adding nan  16887175 83053151 2
adding nan  16887175 83053151 1
adding nan  1367531 412870436 2
adding nan  1367531 412870436 1
adding nan  1367531 295198089 2
adding nan  1367531 295198089 1
adding nan  940368062 3030413492 1
adding nan  940368062 33327895 12
adding nan  940368062 33327895 10
adding nan  940368062 33327895 9
adding nan  940368062 33327895 8
adding nan  940368062 33327895 7
adding nan  940368062 33327895 6
adding nan  940368062 33327895 5
adding nan  940368062 940368062 1
adding nan  940368062 392886711 2
adding nan  940368062 392886711 1
adding nan  940368062 1420720760 1
adding nan  2163076560 2735655330 1
adding nan  2163076560 290224266 1
adding nan  48926467 2434002564 1
adding nan  48926467 48926467 1
adding nan  72882689 25974930 1
adding nan  72882689 563840329 1
adding nan  72882689 2221404181 1
adding nan  72882689 264595508 1
adding nan  99034397 361766349 1
adding nan  99034397 77602866 2
adding nan  99034397 1602756109 3
adding nan  99034397 87882279 1
adding nan  1263002017 1263002017 2
adding nan  1263002017 1263002017 1
adding nan  1263002017 2958753946 1
adding nan  1263002017 2711210473 1
adding nan  1263002017 2787064885 4
adding nan  19211550 629884158 1
adding nan  19211550 18524109 1
adding nan  19211550 533730815 4
adding nan  19211550 533730815 2
adding nan  288283415 115486957 1
adding nan  288283415 2295881880 2
adding nan  288283415 2295881880 1
adding nan  30122242 3003118451 1
adding nan  30122242 369158562 5
adding nan  30122242 369158562 4
adding nan  30122242 369158562 3
adding nan  30122242 369158562 2
adding nan  30122242 369158562 1
adding nan  30122242 2306285647 4
adding nan  30122242 2306285647 3
adding nan  30122242 2306285647 2
adding nan  30122242 2306285647 1
adding nan  525634151 525634151 5
adding nan  525634151 525634151 4
adding nan  525634151 525634151 3
adding nan  525634151 525634151 2
adding nan  525634151 525634151 1
adding nan  525634151 192307047 2
adding nan  525634151 192307047 1
adding nan  525634151 2162983369 2
adding nan  525634151 2966796683 1
adding nan  525634151 211365709 1
adding nan  2754194395 212817827 1
adding nan  2754194395 162327125 1

In [184]:
graph_eligible_data_v2

,weight,src_user_id,src_text,src_favorites_count,src_followers_count,src_verified_user,reply_user_id,reply_user_text,reply_favorites_count,reply_followers_count,reply_verified_user,label
0,1,8330472,#Últimahora Es tracta d'un aparell de Germanwings amb 152 passatgers a bord http://t.co/hT5BhpuGuv,15,179430,True,2307392966,“@324cat: #Últimahora Es tracta d'un aparell de Germanwings amb 152 passatgers a bord http://t.co/21WZNksDNr”,509,988,False,0
1,2,8330472,#Últimahora Es tracta d'un aparell de Germanwings amb 152 passatgers a bord http://t.co/hT5BhpuGuv,15,179430,True,2535310842,@senyera @324cat 148 pasajeros 142+6 @senyera @324cat dice el ministro frances que no hay supervivientes.....,7,62,False,0
2,1,92771309,Route map now being shared by http://t.co/LZkOXadHKa. #4U9525 https://t.co/Hq8KbP2aus,22,20839,True,161546098,結構な山の中だぞ、それは…… “@BBCRosAtkins: Route map now being shared by http://t.co/TReBlGaejq. #4U9525 https://t.co/JLODk6S8ri”,9,74,False,0
3,1,366089337,Pray for #4U9525 http://t.co/II7Rl24ffH,2619,3237,False,744921588,“@f4izalhassan: Pray for #4U9525 http://t.co/d3871HDJp3”\n\nإِنَّا لِلّهِ وَإِنَّـا إِلَيْهِ رَاجِعونَ,10919,508,False,0
4,1,16211566,Airbus A320 #4U9525 crash: \nFlight tracking data here: \nhttp://t.co/9W6hfTGYQV #airbus http://t.co/RchXQsoqdJ,61700,11982,True,59812246,Estou arrepiada :(( RT @MattNavarra Airbus A320 #4U9525 crash: Flight tracking data here: http://t.co/R65eGUl5bk … #airbus,1465,275,False,0
...,...,...,...,...,...,...,...,...,...,...,...,...
3716,1,24293233,#WakeUpAmerica \nCo-pilot was a Muslim Convert \nhttp://t.co/RYFQTVBYBL\n@seanhannity @greta @act4america \n@KrisParonto @JGilliam_SEAL,50405,10005,False,2451418584,Somewhere between 25-40% of Muskims support terror. @dj1darrell @Hairbear64 @gegco @seanhannity @greta @act4america @KrisParonto,7067,2789,False,1
3717,2,24293233,#WakeUpAmerica \nCo-pilot was a Muslim Convert \nhttp://t.co/RYFQTVBYBL\n@seanhannity @greta @act4america \n@KrisParonto @JGilliam_SEAL,50405,10005,False,NaN,@dj1darrell @gegco @seanhannity @greta @act4america @KrisParonto Equally sad some choose not to listen. @KrisParonto @gegco @seanhannity @greta @act4america agreed. And at the moment there is NOTHING to suggest this was religion-related.,26,34,False,1
3718,3,24293233,#WakeUpAmerica \nCo-pilot was a Muslim Convert \nhttp://t.co/RYFQTVBYBL\n@seanhannity @greta @act4america \n@KrisParonto @JGilliam_SEAL,50405,10005,False,2687803879,@Hairbear64 @gegco @seanhannity @greta @act4america i have to agree..we need to do our due diligence before placing blame..but... @Hairbear64 @gegco @seanhannity @greta @act4america we also need to accept when our due diligence confirms our initial belief.. #Tanto @Hairbear64 @gegco @seanhannity @greta @act4america ok...Roger that...be quiet now and let the investigation run its course #13hours #Tanto,6694,5451,False,1
3719,1,24293233,#WakeUpAmerica \nCo-pilot was a Muslim Convert \nhttp://t.co/RYFQTVBYBL\n@seanhannity @greta @act4america \n@KrisParonto @JGilliam_SEAL,50405,10005,False,NaN,@KrisParonto @gegco @seanhannity @greta @act4america agreed. And at the moment there is NOTHING to suggest this was religion-related.,26,34,False,1
3720,1,24293233,#WakeUpAmerica \nCo-pilot was a Muslim Convert \nhttp://t.co/RYFQTVBYBL\n@seanhannity @greta @act4america \n@KrisParonto @JGilliam_SEAL,50405,10005,False,NaN,@Hairbear64 @gegco @seanhannity @greta @act4america ok...Roger that...be quiet now and let the investigation run its course #13hours #Tanto,6694,5451,False,1

In [196]:
graph_eligible_data_v2.isnull().sum()

weight                   0
src_user_id              0
src_text                 0
src_favorites_count      0
src_followers_count      0
src_verified_user        0
reply_user_id            703
reply_user_text          0
reply_favorites_count    0
reply_followers_count    0
reply_verified_user      0
label                    0
dtype: int64

In [185]:
len(graph_eligible_data_v2)

3721

In [ ]:
graph_eligible_data_v2.dropna(axis = 0, inplace = True)

In [ ]:
len(graph_eligible_data_v2)

In [ ]:
graph_eligible_data_v2.reset_index(drop = True, inplace = True)

In [ ]:
graph_eligible_data_v2

In [ ]:
graph_eligible_data_v2.to_csv('graph_eligible_germanwings-crash.csv')