# Text Analysis on ferguson data

In [1]:
import numpy as np
import pandas as pd
import datetime 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv(r'D:\論文\PHEME9\Data\CSV\ferguson.csv', encoding = 'utf-8', header = None)
df.columns = ['src_tweet_id', 'src_user_id', 'src_tweet','src_date','reply_tweet_id','reply_user_id','reply_tweet','reply_date', 'label']
df.reply_tweet = df.reply_tweet.replace(np.nan,"")

In [3]:
df.columns

Index(['src_tweet_id', 'src_user_id', 'src_tweet', 'src_date',
       'reply_tweet_id', 'reply_user_id', 'reply_tweet', 'reply_date',
       'label'],
      dtype='object')

In [4]:
df

,src_tweet_id,src_user_id,src_tweet,src_date,reply_tweet_id,reply_user_id,reply_tweet,reply_date,label
0,498235547685756928,1539100118,Black teenage boys are not men. They are child...,Sat Aug 09 22:33:06 +0000 2014,4.982355e+17,1.539100e+09,Black teenage boys are not men. They are child...,Sat Aug 09 22:33:06 +0000 2014,0
1,498235547685756928,1539100118,Black teenage boys are not men. They are child...,Sat Aug 09 22:33:06 +0000 2014,4.982433e+17,5.879267e+08,@annaxsweat @NeoSoulPol Same thing when #Trayv...,Sat Aug 09 23:04:01 +0000 2014,0
2,498235547685756928,1539100118,Black teenage boys are not men. They are child...,Sat Aug 09 22:33:06 +0000 2014,4.982655e+17,2.146200e+07,@annaxsweat http://t.co/Z7Qm4iaoSR,Sun Aug 10 00:32:13 +0000 2014,0
3,498235547685756928,1539100118,Black teenage boys are not men. They are child...,Sat Aug 09 22:33:06 +0000 2014,4.982668e+17,2.146200e+07,@annaxsweat #StopThugCops We have to take acti...,Sun Aug 10 00:37:23 +0000 2014,0
4,498235547685756928,1539100118,Black teenage boys are not men. They are child...,Sat Aug 09 22:33:06 +0000 2014,4.982728e+17,2.411474e+09,@annaxsweat @KidFriendlyCamb 17 year olds can ...,Sun Aug 10 01:01:09 +0000 2014,0
...,...,...,...,...,...,...,...,...,...
23160,500427786159681536,225235528,Police in #Ferguson once charged a man w/ dest...,Fri Aug 15 23:44:16 +0000 2014,5.007083e+17,1.296110e+09,@AnonyOps @Xplant So that means its ok to torc...,Sat Aug 16 18:18:54 +0000 2014,1
23161,500427786159681536,225235528,Police in #Ferguson once charged a man w/ dest...,Fri Aug 15 23:44:16 +0000 2014,5.007090e+17,2.774900e+08,"@RianAlden not at all, but they need to change...",Sat Aug 16 18:21:50 +0000 2014,1
23162,500427786159681536,225235528,Police in #Ferguson once charged a man w/ dest...,Fri Aug 15 23:44:16 +0000 2014,5.007097e+17,1.296110e+09,@Xplant @AnonyOps Absoluteky. But it pains me...,Sat Aug 16 18:24:31 +0000 2014,1
23163,500427786159681536,225235528,Police in #Ferguson once charged a man w/ dest...,Fri Aug 15 23:44:16 +0000 2014,5.007102e+17,1.296110e+09,@Xplant @AnonyOps I'm curious how many of thes...,Sat Aug 16 18:26:19 +0000 2014,1
23164,500427786159681536,225235528,Police in #Ferguson once charged a man w/ dest...,Fri Aug 15 23:44:16 +0000 2014,5.007104e+17,1.296110e+09,"@Xplant @AnonyOps You get 15,000 people showin...",Sat Aug 16 18:27:08 +0000 2014,1

In [5]:
src_tw_df = df.iloc[:,[0,1,2,3,8]].copy()
src_tw_df = src_tw_df.drop_duplicates()
src_tw_df.reset_index(drop=True,inplace=True)
src_tw_df

,src_tweet_id,src_user_id,src_tweet,src_date,label
0,498235547685756928,1539100118,Black teenage boys are not men. They are child...,Sat Aug 09 22:33:06 +0000 2014,0
1,498248415223246848,14090948,The mother of the boy killed in #Ferguson spea...,Sat Aug 09 23:24:13 +0000 2014,0
2,498248648699150336,14090948,Police have brought out the large gear in #Fer...,Sat Aug 09 23:25:09 +0000 2014,0
3,498250100079341568,1921517718,"Omg Wow ""@FLOCKAfierce: WOW RT @AntonioFrench:...",Sat Aug 09 23:30:55 +0000 2014,0
4,498251940997136384,228120405,When you see citizens as enemies... RT @Antoni...,Sat Aug 09 23:38:14 +0000 2014,0
...,...,...,...,...,...
1138,500413818368184321,179732982,"Remarkably, despite the military-style police ...",Fri Aug 15 22:48:46 +0000 2014,1
1139,500417151346696192,2193946021,Americans are 8 times more likely to be killed...,Fri Aug 15 23:02:00 +0000 2014,1
1140,500421926079066112,5513002,Shot ten times.\nUnarmed.\nWhat else is there ...,Fri Aug 15 23:20:59 +0000 2014,1
1141,500422971320963072,470708968,I refuse to call the #Ferguson police chief in...,Fri Aug 15 23:25:08 +0000 2014,1
1142,500427786159681536,225235528,Police in #Ferguson once charged a man w/ dest...,Fri Aug 15 23:44:16 +0000 2014,1

## Prepocessing
- Define function to process text at one time

In [6]:
import pickle

In [7]:
'''Convert Emojis to Words'''

with open(r'D:\論文\PHEME9\Emoji_Dict.p', 'rb') as fp:
    Emoji_Dict = pickle.load(fp)
Emoji_Dict = {v: k for k, v in Emoji_Dict.items()}

def convert_emojis_to_word(text):
    import re
    for emot in Emoji_Dict:
        text = re.sub(r'('+emot+')', "_".join(Emoji_Dict[emot].replace(",","").replace(":","").split()), text)
    return text

In [13]:
def textprocessing(text):
 
    if 'RT' in text.split():      #cut retweet
        rt = text.find('RT')
        text = text[0:rt]  
        
    quo = text.find('“')           #cut quoting part
    quo_end = text.find('”')
    at = text.find('@')
    if quo != -1:                  #if find “
        if quo_end != -1:             # and if there is also ”
            text = text[0: quo:] + text[quo_end+1: :]
        else:
            text = text[0: quo:]
    elif quo_end != -1:
        if at != -1:
            text = text[0:at:] + text[quo_end+1: : ]
        else:
            text = ""
            
   
    text = convert_emojis_to_word(text)   #convert emoji to word
    text = text.lower()           #lower case    
     
    
    text = " ".join([word for word in text.split() if 'http' not in word    #remove url
                                and not word.startswith(('\'@','@','.@'))
                                and word != 'rt'])   
                 
    import re
    def remove_punct(tweet):
        new_words = []
        for word in tweet:
            w = re.sub(r'[^\w\s]','',word) #remove everything except words and space
            w = re.sub(r'_','',w) #remove underscore as well
            w = re.sub('[0-9]+','',w)
            new_words.append(w)

        return new_words
    text = "".join(remove_punct(text))

    from nltk.tokenize import TweetTokenizer
    tknzr = TweetTokenizer(strip_handles=True)
    text = tknzr.tokenize(text)
    
    from nltk.corpus import stopwords
    stop_words=set(stopwords.words("english"))
    stop_words=set([a for a in list(stop_words) if re.search("n't|no|not",a) ==None])
    stop_words.add('now')
    stop_words.add('amp')
    def filterstopwords(tw):
        filter_stopwords = []
        for w in tw:
            if w not in stop_words:
                filter_stopwords.append(w)
        return filter_stopwords
    text = filterstopwords(text)
    
    
    from nltk.stem import WordNetLemmatizer
    lemmatizer = WordNetLemmatizer()
    text = [lemmatizer.lemmatize(i,'v') for i in text]
    
#     from nltk.stem.porter import PorterStemmer
#     stem = PorterStemmer()
#     text = [stem.stem(i) for i in text]
    
    text = " ".join(text)
    
    return text

In [29]:
print("Source tweet: ", df.src_tweet.iloc[21955])
print("original text: ", df.reply_tweet.iloc[21955])
print("cleaned text: ", textprocessing(df.reply_tweet.iloc[21955]))

Source tweet:  the media didn't even know the video existed, but he just said they requested it? DUDE. #Ferguson
original text:  Not buying it. Nope. @ZerlinaMaxwell: the media didn't even know the video existed, but he just said they requested it? DUDE. #Ferguson”
cleaned text:  not buy nope

In [42]:
print("Source tweet: ", df.src_tweet.iloc[995])
print("original text: ", df.reply_tweet.iloc[995])
print("cleaned text: ", textprocessing(df.reply_tweet.iloc[995]))

Source tweet:  Police dogs snarl at a crowd of mourners in #Ferguson. They are mourning the killing of another teenager by police http://t.co/BVGJAu2jvV”
original text:  Police dogs snarl at a crowd of mourners in #Ferguson. They are mourning the killing of another teenager by police http://t.co/BVGJAu2jvV”
cleaned text:

In [31]:
quotweet = df[df.reply_tweet.str.find('“') != -1].index
quo_tweet = df[df.reply_tweet.str.find('”') != -1].index
rtt = df[df.reply_tweet.str.find('RT') != -1].index
at =  df[df.reply_tweet.str.find('@') != -1].index

set(quo_tweet).difference(set(rtt)).difference(set(quotweet)).intersection(set(at))
set(quo_tweet).difference(set(rtt)).difference(set(quotweet)).difference(set(at))

{995, 14766}

### applied on original data (**df**)

In [43]:
src_tw_df['cleaned_src_tw'] = src_tw_df.src_tweet.apply(textprocessing)
df['cleaned_reply_tw'] = df.reply_tweet.apply(textprocessing)

In [44]:
df.head()

,src_tweet_id,src_user_id,src_tweet,src_date,reply_tweet_id,reply_user_id,reply_tweet,reply_date,label,cleaned_reply_tw
0,498235547685756928,1539100118,Black teenage boys are not men. They are child...,Sat Aug 09 22:33:06 +0000 2014,4.982355e+17,1.539100e+09,Black teenage boys are not men. They are child...,Sat Aug 09 22:33:06 +0000 2014,0,black teenage boys not men children stop refer...
1,498235547685756928,1539100118,Black teenage boys are not men. They are child...,Sat Aug 09 22:33:06 +0000 2014,4.982433e+17,5.879267e+08,@annaxsweat @NeoSoulPol Same thing when #Trayv...,Sat Aug 09 23:04:01 +0000 2014,0,thing trayvon kill zimmerman wannabe cop yrs o...
2,498235547685756928,1539100118,Black teenage boys are not men. They are child...,Sat Aug 09 22:33:06 +0000 2014,4.982655e+17,2.146200e+07,@annaxsweat http://t.co/Z7Qm4iaoSR,Sun Aug 10 00:32:13 +0000 2014,0,
3,498235547685756928,1539100118,Black teenage boys are not men. They are child...,Sat Aug 09 22:33:06 +0000 2014,4.982668e+17,2.146200e+07,@annaxsweat #StopThugCops We have to take acti...,Sun Aug 10 00:37:23 +0000 2014,0,stopthugcops take action stop insanity ferguson
4,498235547685756928,1539100118,Black teenage boys are not men. They are child...,Sat Aug 09 22:33:06 +0000 2014,4.982728e+17,2.411474e+09,@annaxsweat @KidFriendlyCamb 17 year olds can ...,Sun Aug 10 01:01:09 +0000 2014,0,year olds prosecute adults regardless color so...

In [45]:
src_tw_df.head()

,src_tweet_id,src_user_id,src_tweet,src_date,label,cleaned_src_tw
0,498235547685756928,1539100118,Black teenage boys are not men. They are child...,Sat Aug 09 22:33:06 +0000 2014,0,black teenage boys not men children stop refer...
1,498248415223246848,14090948,The mother of the boy killed in #Ferguson spea...,Sat Aug 09 23:24:13 +0000 2014,0,mother boy kill ferguson speak media loss son
2,498248648699150336,14090948,Police have brought out the large gear in #Fer...,Sat Aug 09 23:25:09 +0000 2014,0,police bring large gear ferguson
3,498250100079341568,1921517718,"Omg Wow ""@FLOCKAfierce: WOW RT @AntonioFrench:...",Sat Aug 09 23:30:55 +0000 2014,0,omg wow flockafierce wow
4,498251940997136384,228120405,When you see citizens as enemies... RT @Antoni...,Sat Aug 09 23:38:14 +0000 2014,0,see citizens enemies

## Sentiment Analysis

In [46]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [47]:
def get_sentiment(tweet):
    analyzer = SentimentIntensityAnalyzer()
    vs = analyzer.polarity_scores(tweet)
    if vs['compound'] >=0.05:
        sentiment_label = 'Positive'
    elif (vs['compound'] > -0.05) & (vs['compound'] < 0.05):
        sentiment_label = 'Neutral'
    elif vs['compound']<= -0.05:
        sentiment_label = 'Negative' 
    result = sentiment_label
    return result

### applied on src tweet & reply tweet

In [48]:
src_tw_df['src_sentiment']= src_tw_df.cleaned_src_tw.apply(get_sentiment)
df['reply_sentiment']= df.cleaned_reply_tw.apply(get_sentiment)

In [49]:
df.head(1)

,src_tweet_id,src_user_id,src_tweet,src_date,reply_tweet_id,reply_user_id,reply_tweet,reply_date,label,cleaned_reply_tw,reply_sentiment
0,498235547685756928,1539100118,Black teenage boys are not men. They are child...,Sat Aug 09 22:33:06 +0000 2014,4.982355e+17,1.539100e+09,Black teenage boys are not men. They are child...,Sat Aug 09 22:33:06 +0000 2014,0,black teenage boys not men children stop refer...,Negative

In [50]:
src_tw_df.head(1)

,src_tweet_id,src_user_id,src_tweet,src_date,label,cleaned_src_tw,src_sentiment
0,498235547685756928,1539100118,Black teenage boys are not men. They are child...,Sat Aug 09 22:33:06 +0000 2014,0,black teenage boys not men children stop refer...,Negative

## Emotion Detection

### text2emotion package
https://snyk.io/advisor/python/text2emotion

In [ ]:
import text2emotion as te

In [ ]:
emotion = df.cleaned_reply_tw.apply(te.get_emotion)

In [ ]:
emo = emotion.apply(lambda x: max(x,key=x.get))
df['reply_emo_te'] = emo

In [51]:
df.to_csv(r'D:\論文\PHEME9\Data\CSV\ferguson-df.csv',index=False)

In [ ]:
emotion1 = src_tw_df.cleaned_src_tw.apply(te.get_emotion)
emo1 = emotion.apply(lambda x: max(x,key=x.get))
src_tw_df['src_emo_te']=emo1

In [52]:
src_tw_df.to_csv(r'D:\論文\PHEME9\Data\CSV\ferguson-src.csv',index=False)